$bgColor-thirt: #ebecf0;

.column {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100% - var(--gap-10));

  &:not(:first-child) {
    margin-left: var(--gap-10);
  }

  > * {
    background-color: var(--bgColor-thirt);
    color: #333;
    padding: 0 8px;
  }

  header {
    padding-left: 15px;
    height: var(--columnHeader-height);
    line-height: var(--columnHeader-height);
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: var(--columnBorder-radius);
    border-top-right-radius: var(--columnBorder-radius);
  }

  footer {
    padding-left: var(--gap-10);
    height: var(--columnFooter-height);
    line-height: var(--columnFooter-height);
    border-bottom-left-radius: var(--columnBorder-radius);
    border-bottom-right-radius: var(--columnBorder-radius);
  }

  ul.card-list {
    list-style-type: none;
    margin: 0;
    max-height: calc(
      100% - var(--columnHeader-height) - var(--columnFooter-height)
    );
    overflow-y: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($bgColor-thirt, 15);
      border-right: 5px solid var(--bgColor-thirt);
    }
  }
}
